<template>
  <f7-page>

    <f7-row class="margin-bottom">
      <f7-block-footer>
        {{ $t('dashboard.text') }}
      </f7-block-footer>
    </f7-row>
    <f7-row class="margin-bottom justify-content-center">
      <f7-col width="70"
              tablet-width="50"
              desktop-width="20">
        <f7-button href="/admin/invite"
                   fill>
          {{ $t('pages.invite.name') }}
        </f7-button>
      </f7-col>
    </f7-row>
  </f7-page>
</template>

<script>

export default {
  name: 'admin'
}
</script>
