<template>
  <f7-page>
    <f7-block-title medium>client</f7-block-title>
    <f7-list v-if="client"
             inline-labels
             no-hairlines-md>
      <f7-list-input
        label="Name"
        type="text"
        placeholder="Your name"
        clear-button
        :value="client.clientname"
        @input="client.clientname = $event.target.value"
      >
      </f7-list-input>

      <f7-list-input
        label="Type"
        type="select"
        placeholder="Please choose..."
        :value="client.type"
        @input="client.type = $event.target.value"
      >
        <option v-for="item in clientTypes"
                :key="item.code"
                :value="item.code">
          {{item.name}}
        </option>
      </f7-list-input>

      <f7-list-input
        label="Country"
        type="select"
        placeholder="Please choose..."
        :value="client.country_code"
        @input="client.country_code = $event.target.value"
        @change="getCitiesAsync(client.country_code)"
      >
        <option v-for="item in countries"
                :key="item.code"
                :value="item.code">
          {{item.name}}
        </option>
      </f7-list-input>

      <f7-list-input
        label="City"
        type="select"
        placeholder="Please choose..."
        :value="client.city_uuid"
        @input="client.city_uuid = $event.target.value"
      >
        <option v-for="item in cities"
                :key="item.city_uuid"
                :value="item.city_uuid">
          {{item.name}}
        </option>
      </f7-list-input>

      <f7-list-input
        label="Like rate"
        type="text"
        placeholder="Like rate"
        clear-button
        :value="client.like_rate"
        @input="client.like_rate = $event.target.value"
      >
      </f7-list-input>

      <f7-list-input
        label="Max discount"
        type="text"
        placeholder="Max discount"
        clear-button
        :validate="$v.client.discount_rate.$error"
        :value="client.discount_rate"
        @input="client.discount_rate = $event.target.value"
      >
      </f7-list-input>

      <f7-row class="margin-top justify-content-center">
        <f7-col width="20">
          <f7-button @click="putClientAsync()"
                     fill>Save
          </f7-button>
        </f7-col>
      </f7-row>
    </f7-list>
  </f7-page>
</template>

<script>
import server from '../../../../server/index'
import { validationMixin } from 'vuelidate'
import { minLength, required, integer } from 'vuelidate/lib/validators'
import { ERROR_ADD } from '../../../../store/actions/error'

export default {
  mixins: [validationMixin],
  name: 'client',
  data () {
    return {
      client: {},
      clientTypes: [],
      countries: [],
      cities: []
    }
  },
  validations: {
    client: {
      clientname: {
        required,
        minLength: minLength(1)
      },
      type: {
        required,
        minLength: minLength(1)
      },
      country_code: {
        required,
        minLength: minLength(1)
      },
      city_uuid: {
        required,
        minLength: minLength(1)
      },
      like_rate: {
        required,
        integer
      },
      discount_rate: {
        required,
        integer
      }
    }
  },
  mounted () {
    this.getClientAsync()
    this.getClientTypesAsync()
    this.getCountriesAsync()
  },
  computed: {
    uuid () {
      return this.$f7route.params.uuid
    },
    token () {
      return this.$store.state.auth.token
    }
  },
  methods: {
    getClientAsync () {
      this.client = this.$f7route.context.client
    },
    getClientTypesAsync () {
      const query = server.getClientTypes
      query.data = {
        language: 'EN_US'
      }

      this.$f7.request.promise(query)
        .then(response => {
          this.clientTypes = JSON.parse(response).data
        })
        .catch(err => {
          this.$store.dispatch(ERROR_ADD, err.meta)
        })
    },
    getCountriesAsync () {
      const query = server.getCountries
      query.data = {
        language: 'EN_US'
      }

      this.$f7.request.promise(query)
        .then(response => {
          this.countries = JSON.parse(response).data
        })
        .catch(err => {
          this.$store.dispatch(ERROR_ADD, err.meta)
        })
    },
    getCitiesAsync (countryCode) {
      const query = server.getCities
      query.data = {
        language: 'EN_US',
        country: countryCode
      }

      this.$f7.request.promise(query)
        .then(response => {
          this.cities = JSON.parse(response).data
        })
        .catch(err => {
          this.$store.dispatch(ERROR_ADD, err.meta)
        })
    },
    putClientAsync () {
      const query = server.clientSave
      query.data = this.client
      query.url = `${query.url}?client_uuid=${this.uuid}&session=${this.token}`

      this.$f7.request.promise(query)
        .then(response => {
          this.generateInvite = response.data[0]
          this.data.unshift(response.data[0])
          return this.approvedClientAsync()
        })
        .catch(err => {
          this.$store.dispatch(ERROR_ADD, err.meta)
        })

      this.$f7router.back()
    },
    approvedClientAsync () {
      const query = server.clientApproved
      query.data = {
        client_uuid: this.uuid,
        session: this.token
      }

      return this.$f7.request.promise(query)
        .then(response => {
          this.data = JSON.parse(response).data
        })
        .catch(err => {
          this.$store.dispatch(ERROR_ADD, err.meta)
        })
    }
  }
}
</script>
