<template>
  <f7-page>
    <f7-block-title medium>Clients</f7-block-title>
    <f7-block strong>
      <table-component :fields="fields"
                       :querydata="usersList"
                       @clickItem="clickUser"
                       @pageChange="tablePageChange"
                       @update:per_page="updatePerPage">
      </table-component>
    </f7-block>
  </f7-page>
</template>

<script>
import tableComponent from '../../../../components/f7-table'
import server from '../../../../server/index'
import { formatDate } from '../../../../utils'

export default {
  name: 'adminClients',
  components: {
    tableComponent
  },
  data () {
    return {
      fields: [
        {
          name: 'clientname',
          title: 'Name',
          titleClass: 'label-cell',
          dataClass: 'numeric-cell',
          sortTable: 'Ob'
        },
        {
          name: 'created',
          title: 'Date',
          titleClass: 'label-cell',
          dataClass: 'numeric-cell',
          sortTable: 'Ob',
          funcView: formatDate
        }
      ],
      pagination: {
        perPage: 10,
        currentPage: 1
      },
      data: []
    }
  },
  mounted () {
    this.getAllClientsAsync()
  },
  computed: {
    usersListLength () {
      return this.data.length
    },
    usersList () {
      const start = this.pagination.perPage * (this.pagination.currentPage - 1)
      const end = this.pagination.perPage * this.pagination.currentPage
      const pageCount = Math.ceil(this.usersListLength / this.pagination.perPage)
      const dataSlice = this.data.slice(start, end)

      return {
        data: dataSlice,
        current_page: this.pagination.currentPage,
        from: start + 1,
        last_page: pageCount,
        per_page: this.pagination.perPage,
        to: end,
        total: this.usersListLength
      }
    }
  },
  methods: {
    getAllClientsAsync () {
      const query = server.clientList
      query.data = {
        session: this.$store.state.auth.token,
        approved: false
      }

      this.$f7.request.promise(query)
        .then(response => {
          this.data = JSON.parse(response).data
        })
    },
    clickUser (client) {
      this.$f7router.navigate({
        name: 'AdminClient',
        params: {
          uuid: client.uuid
        }
      }, {
        context: {
          client
        }
      })
    },
    tablePageChange (page) {
      this.pagination.currentPage = page
    },
    updatePerPage (data) {
      this.pagination.perPage = data
    }
  }
}
</script>
