<template>
  <div>
    <template v-if="$store.getters.getRole === 'admin'">
      <template v-if="$device.desktop">
        <f7-navbar>
          <f7-nav-title>
            Likepay - admin
            <span style="font-size: 10px">{{ $store.state.user.userAppVersion }}</span>
          </f7-nav-title>
          <f7-nav-right>
            <f7-link href="/admin/dashboard">{{ $t("dashboard") }}</f7-link>
            <f7-link href="/admin/invite">{{ $t("pages.invite.name") }}</f7-link>
<!--            <f7-link href="/admin/clients">{{ $t("clients.title") }}</f7-link>-->
            <f7-link @click="logout()">{{ $t("logout") }}</f7-link>

            <f7-input
              type="select"
              defaultValue="en"
              :value="thisLanguage"
              @change="changeLanguage($event.target.value)"
            >
              <option v-for="item in $store.state.user.languages"
                      :key="item.code"
                      :value="item.code">{{ item.name }}</option>
            </f7-input>
          </f7-nav-right>
        </f7-navbar>
      </template>
      <template v-else>
        <f7-navbar>
          <f7-nav-left>
            <f7-link icon-only
                     panel-open="left">
              <f7-icon ios="f7:bars"
                       aurora="f7:bars"
                       md="material:menu" >
              </f7-icon>
            </f7-link>
          </f7-nav-left>
          <f7-nav-right>
            <f7-nav-title>Likepay - admin</f7-nav-title>
          </f7-nav-right>
        </f7-navbar>

        <f7-panel left resizable >
          <f7-view links-view=".view-main">
            <f7-page>
              <f7-navbar>
                <f7-nav-left>
                  <f7-icon ios="f7:person" aurora="f7:person" md="f7:person" class="icon f7-icons ios-only">
                  </f7-icon>
                  <span class="margin-left">
                    {{ $store.state.user.profile.name }}
                  </span>
                </f7-nav-left>
              </f7-navbar>
              <f7-list>
                <f7-list-item link="/admin/dashboard"
                              :title="$t('dashboard')"
                              panel-close>
                  <f7-icon slot="media" icon="demo-list-icon"></f7-icon>
                </f7-list-item>
                <f7-list-item link="/admin/invite"
                              :title="$t('pages.invite.name')"
                              panel-close>
                  <f7-icon slot="media" icon="demo-list-icon"></f7-icon>
                </f7-list-item>
<!--                <f7-list-item link="/admin/clients"-->
<!--                              :title="$t('clients.title')"-->
<!--                              panel-close>-->
<!--                  <f7-icon slot="media" icon="demo-list-icon"></f7-icon>-->
<!--                </f7-list-item>-->
                <f7-list-item @click="logout()"
                              :title="$t('logout')"
                              panel-close>
                  <f7-icon slot="media" icon="demo-list-icon"></f7-icon>
                </f7-list-item>
                <f7-list-item>
                  <f7-icon slot="media" icon="demo-list-icon"></f7-icon>
                  <f7-input
                    type="select"
                    defaultValue="en"
                    :value="thisLanguage"
                    @change="changeLanguage($event.target.value)"
                  >
                    <option v-for="item in $store.state.user.languages"
                            :key="item.code"
                            :value="item.code">{{ item.name }}</option>
                  </f7-input>
                </f7-list-item>
              </f7-list>
              <f7-block-footer>
                App version: {{ $store.state.user.userAppVersion }}
              </f7-block-footer>
            </f7-page>
          </f7-view>
        </f7-panel>
      </template>
    </template>
    <template v-else>
      <div></div>
    </template>
  </div>
</template>

<script>
import { AUTH_LOGOUT } from '../../store/actions/auth'
import { USER_CHANGE_LANGUAGE } from '../../store/actions/user'

export default {
  name: 'navbar',
  computed: {
    thisLanguage () {
      return this.$store.getters.getLang
    }
  },
  methods: {
    logout () {
      // костыль для задачи "при выходе блокируются поля в вода на странице логина"
      this.$f7.panel.left.backdropEl.style = 'display: none;'
      this.$store.dispatch(AUTH_LOGOUT)
        .then(() => {
          console.log('router', this.$f7.views.main.router)
          this.$f7.views.main.router.navigate('/login')
        })
    },
    changeLanguage (lang) {
      this.$i18n.locale = lang
      this.$store.dispatch(USER_CHANGE_LANGUAGE, lang)
    }
  }
}
</script>
