<template>
  <f7-page>
    <f7-row class="display-flex justify-content-center" style="margin-bottom: 50px">
      <f7-col width="100"
              tablet-width="70"
              desktop-width="60">
        <f7-block-title medium>{{ $t('invite.createTitle') }}</f7-block-title>
        <f7-block strong>

          <f7-row class="margin-bottom">
            <f7-col width="80">
              <f7-range :value="inviteValue"
                        @range:change="changeInviteValue"
                        :min="1"
                        :max="15"
                        :step="1">
              </f7-range>
            </f7-col>
            <f7-col width="20" class="display-flex justify-content-center">
              <span>
                {{inviteValue}}
              </span>
            </f7-col>
          </f7-row>

          <f7-row class="margin-bottom justify-content-center">
            <f7-col width="70"
                    tablet-width="50"
                    desktop-width="20">
              <f7-button @click="createInvite"
                         fill>
                {{ $t('invite.create') }}
              </f7-button>
            </f7-col>
          </f7-row>

          <template v-if="generateInvite.code">
            <f7-row class="margin-bottom justify-content-space-around"
                    width="100"
                    tablet-width="70"
                    desktop-width="40">
              <f7-col width="20">
                <span>
                  {{generateInvite.code}}
                </span>
              </f7-col>
              <f7-col width="70"
                      tablet-width="50"
                      desktop-width="30">
                <f7-button @click="copyToClipboard(generateInvite.code)"
                           fill>
                  {{ $t('copy_to_clipboard') }}
                </f7-button>
              </f7-col>
            </f7-row>
          </template>
        </f7-block>

        <f7-block-title medium>{{ $t('invite.list') }}</f7-block-title>
        <f7-block strong
                  class="margin-bottom">
          <table-component :fields="fieldsTable"
                           :querydata="inviteList"
                           @pageChange="tablePageChange"
                           @update:per_page="updatePerPage">
          </table-component>
        </f7-block>
      </f7-col>
    </f7-row>
  </f7-page>
</template>

<script>
import tableComponent from '../../../../components/f7-table'
import server from '../../../../server/index'
import { ERROR_ADD } from '../../../../store/actions/error'
import { decimal, formatDate, copyAsJson } from '../../../../utils'

export default {
  name: 'admin',
  components: {
    tableComponent
  },
  data () {
    return {
      inviteValue: 1,
      generateInvite: {},
      pagination: {
        perPage: 10,
        currentPage: 1
      },
      data: []
    }
  },
  mounted () {
    this.getAllInvitesAsync()
  },
  computed: {
    fieldsTable () {
      return [
        {
          name: 'code',
          title: this.$t('invite.code'),
          titleClass: 'label-cell',
          dataClass: 'numeric-cell',
          sortTable: 'Ob'
        },
        {
          name: 'expiration',
          title: this.$t('invite.expired'),
          titleClass: 'label-cell',
          dataClass: 'numeric-cell',
          sortTable: 'Ob',
          funcView: formatDate
        },
        {
          name: 'fee_percent',
          title: this.$t('invite.fee'),
          titleClass: 'label-cell',
          dataClass: 'numeric-cell',
          sortTable: 'Ob'
        }
      ]
    },
    inviteListLength () {
      return this.data.length
    },
    inviteList () {
      const start = this.pagination.perPage * (this.pagination.currentPage - 1)
      const end = this.pagination.perPage * this.pagination.currentPage
      const pageCount = Math.ceil(this.inviteListLength / this.pagination.perPage)
      const dataSlice = this.data.slice(start, end)

      console.log('start', start, 'end', end, 'pageCount', pageCount, 'this.pagination.perPage', this.pagination.perPage)

      return {
        data: dataSlice,
        current_page: this.pagination.currentPage,
        from: start + 1,
        last_page: pageCount,
        per_page: this.pagination.perPage,
        to: end,
        total: this.inviteListLength
      }
    }
  },
  methods: {
    formatDate,
    createInvite () {
      const query = copyAsJson(server.inviteNew)
      query.data = {
        fee_percent: decimal(this.inviteValue).div(100).toNumber()
      }
      query.url += `?count=1&session=${this.$store.state.auth.token}`

      console.log('query', query)
      this.$f7.request.promise(query)
        .then(response => {
          this.generateInvite = response.data[0]
          this.getAllInvitesAsync()
        })
        .catch(err => {
          console.log('createInvite err', err)
          this.$store.dispatch(ERROR_ADD, err)
        })
    },
    getAllInvitesAsync () {
      const query = copyAsJson(server.inviteList)
      query.data = {
        session: this.$store.state.auth.token
      }

      this.$f7.request.promise(query)
        .then(response => {
          this.data = JSON.parse(response).data
        })
        .catch(err => {
          this.$store.dispatch(ERROR_ADD, err.meta)
        })
    },
    changeInviteValue (inviteValue) {
      this.inviteValue = inviteValue
    },
    copyToClipboard (generateInvite) {
      navigator.clipboard.writeText(generateInvite)
    },
    tablePageChange (page) {
      this.pagination.currentPage = page
    },
    updatePerPage (data) {
      this.pagination.perPage = data
    }
  }
}
</script>
