<template>
  <f7-page no-toolbar no-navbar no-swipeback login-screen>
    <f7-login-screen-title>Lakepay</f7-login-screen-title>
    <f7-list form>
      <f7-list-input
        :class="{ 'item-input-invalid': $v.username.$error }"
        :label="$t('username')"
        type="text"
        :value="username"
        @input="username = $event.target.value"
      ></f7-list-input>
      <f7-list-input
        :class="{ 'item-input-with-error-message item-input-invalid': $v.password.$error }"
        :label="$t('password')"
        :error-message-force="$v.password.$error"
        type="password"
        :value="password"
        @input="password = $event.target.value"
      ></f7-list-input>
    </f7-list>
    <f7-list>
      <f7-button @click="signIn"
                 :disabled="$v.$invalid || isPendingAuth"
      >{{ $t("login") }}</f7-button>
      <f7-block-footer>
        App version: {{ $store.state.user.userAppVersion }}
      </f7-block-footer>
    </f7-list>
  </f7-page>
</template>

<script>
import { AUTH_REQUEST } from '../../store/actions/auth'
import { validationMixin } from 'vuelidate'
import { minLength, required } from 'vuelidate/lib/validators'

export default {
  mixins: [validationMixin],
  data () {
    return {
      username: '',
      password: ''
    }
  },
  validations: {
    username: {
      required,
      minLength: minLength(1)
    },
    password: {
      required,
      minLength: minLength(1)
    }
  },
  computed: {
    isPendingAuth () {
      return this.$store.getters.authPending
    }
  },
  methods: {
    signIn () {
      const router = this.$f7router
      this.$store.dispatch(AUTH_REQUEST, {
        data: {
          username: this.username,
          password: this.password,
          apptype: 'APP.SERVICE',
          instance: 'web-application'
        },
        request: this.$f7.request
      })
        .then(() => {
          console.log(this.$store.getters.getRole)
          switch (this.$store.getters.getRole) {
            case 'admin':
              router.navigate('/admin/dashboard/')
              break
            case 'user':
              router.navigate('/user/dashboard/')
              break
            default:
              console.log('err')
          }
        })
    }
  }
}
</script>
