<template>
  <f7-app :params="f7params">
    <!-- Statusbar -->
    <f7-statusbar></f7-statusbar>
    <!-- Left Panel -->

    <navbar></navbar>

    <!-- Main View -->
    <f7-view id="main-view" url="/" main class="safe-areas" :pushState="true"></f7-view>

  </f7-app>
</template>

<script>
import routes from './router'
import Navbar from './pages/auth/Navbar'
import { ERROR_DELETE } from './store/actions/error'

export default {
  components: {
    Navbar
  },
  data () {
    return {
      // Framework7 parameters here
      f7params: {
        id: 'io.framework7.testapp', // App bundle ID
        name: 'Likepay', // App name
        theme: process.env.VUE_APP_F7_THEME, // Automatic theme detection
        routes: routes
      }
    }
  },
  watch: {
    '$store.state.error.message': function (newMessage) {
      if (newMessage.length > 0) {
        this.$f7.dialog.alert(this.$store.state.error.message, 'Error', this.errorClose)
      }
    }
  },
  methods: {
    errorClose () {
      this.$store.dispatch(ERROR_DELETE)
    }
  }
}
</script>
